body {
    background-image: url(https://cultura.uol.com.br/upload/tvcultura/esporte/20220720150044_gettyimages-1334436084-1-1-.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
