body{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    background-color: rgb(238, 214, 183);
}

form{
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

input[type="text"]{
    margin-bottom: 10px;
    padding: 5px;
}

button{
    padding: 8px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

#resultado{
    margin-top: 20px;
}