.background {
    background-image: url(https://cultura.uol.com.br/upload/tvcultura/esporte/20220720150044_gettyimages-1334436084-1-1-.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;



}

.background h1{
    color: white;
    text-align: center;
    padding: 30px;
    
}

.containerGames {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    gap: 30px;

    
}

.imgBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;



}